body{
    padding: 0%;
    margin: 0%;
}
.nav{
    background-color:rgba(38, 38, 38, 0.926);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.logo-image{
    width: 10%;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}
.logo-tengkorak{
    display: flex;
    align-items: center;
}
.hyperlink{
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-right: 1rem;
    margin-left: 1.5rem;
    text-decoration: none;
    align-items: center;
}
.registration{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
    text-decoration: none;
}
.home-background-section{
    background-image: url("/assets/main-bg.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    object-fit: contain;
}
.container{
    text-align: center;
    margin-top: 7.5%;
}
.second-background-section{
    background-image: url("/assets/the-games-bg.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
}
.main-title{
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
}
.sub-title{
    font-size: 36px;
    font-weight: lighter;
    color: white;
}
.btn-warning{
    font-weight: bold;
    font-size: 16px;
    margin-top: 2rem;
}
.regular-1-text{
    color: white;
    font-weight: lighter;
    font-style: italic;
    font-size: 24px;
    margin-right: 50%;
}
.regular-2-text{
    color: white;
    font-weight: lighter;
    font-size: 40px;
    margin-right: 50%;
}
.third-background-section{
    background-image: url(/assets/features.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
}
.text-background-3{
    color: orange;
    font-size: 2rem;
    margin-left: 33rem;
    margin-top: 2rem;
}
.small-text{
    color: white;
    font-size: 1rem;
    margin-left: 33rem;
}
.regular-3-text{
    color: white;
    font-size: 24px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%;
    margin-bottom: 0;
}
.regular-4-text{
    color: white;
    font-size: 40px;
    font-weight: lighter;
    margin-left: 40%;
    margin-bottom: 0%;
}
.scroll-down{
    margin-left: 38.5rem;
    position: absolute;
    bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: bounce-2;
    animation-timing-function: ease;
    transform-origin: bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.scroll-down-text{
    font-size: 1em;
    font-weight: normal;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.scroll-down-icon{
    width: 70%;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
.forth-background-section{
    background-image: url(/assets/requirements.png);
    height: 100vh;
    background-size: cover;
    display: flex;
}
.regular-5-text{
    font-size: 4rem;
    color: white;
    margin-top: 0%;
}
.table-bordered{
    width: 30rem;
    margin-top: 2rem;
    margin-left: 5rem;
}
.text-table-1{
    color: rgba(177, 118, 8, 0.905);
    font-weight: bold;
}
.table-text-paragraph-1{
    color: white;
}
.text-table-2{
    color: rgba(177, 118, 8, 0.905);
    font-weight: bold;
}
.table-text-paragraph-2{
    color: white;
}
.text-table-3{
    color: rgba(177, 118, 8, 0.905);
    font-weight: bold;
}
.table-text-paragraph-3{
    color: white;
}
.text-table-4{
    color: rgba(177, 118, 8, 0.905);
    font-weight: bold;
}
.table-text-paragraph-4{
    color: white;
}
.text-table-5{
    color: rgba(177, 118, 8, 0.905);
    font-weight: bold;
}
.table-text-paragraph-5{
    color: white;
}
.fifth-background-section{
    background-image: url(/assets/top-score-bg.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.card{
    margin-left: 7.5rem;
}
.card-body{
    background-color: black;
}
.card-title{
    color: white;
    font-weight: bold;
    margin-top: 10%;
}
.card-text{
    color: white;
    margin-top: 20%;
}
.reviewer{
    border-radius: 50%;
}
.reviewer-name{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 2rem;
}
.text-reviewer{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
@media only screen and (max-width: 768px){
    .nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 5px;
        position: fixed;
    }
    .registration{
        display: flex;
        font-size: 10px;
    }
    .main-title{
        font-size: 3rem;
    }
    .sub-title{
        font-size: 1rem;
        margin-top: 0.5%;
    }
    .scroll-down{
        display: flex;
        align-items: center;
        flex-direction: column;
        animation-name: bounce-2;
        animation-timing-function: ease;
        transform-origin: bottom;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        position: absolute;
        margin-left: 20.5rem;
    }
    .scroll-down-text{
        font-size: 0.5rem;

    }
    .regular-3-text{
        font-size: 7px;
    }
    .regular-4-text{
        font-size: 10px;
    }
    .text-background-3{
        font-size: 10px;
        margin-right: 15rem;
    }
    .small-text{
        font-size: 7px;
        margin-right: 15rem;
    }
}
